In [2]:
import pandas as pd
import numpy as np

# Clean up more variables, make dummies
- Check variable counts
    - subset columns accordingly?
    - Perhaps run

In [3]:
# import data, rename index
crimes = pd.read_csv('crimes_s.csv')
perps = pd.read_csv('perps_s.csv')
vics = pd.read_csv('vics_s.csv')
 # columns={'Unnamed: 0': 'ind'}
crimes = crimes.rename(columns={'Unnamed: 0': 'ind'})
perps = perps.rename(columns={'Unnamed: 0': 'ind'})
vics = vics.rename(columns={'Unnamed: 0': 'ind'})

/Users/mclev/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9,10,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mclev/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mclev/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9,10,11,12,19,20,21,24,25,28,30,31,32,33,39,41,43,45,47,49,51,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
crimes.head()

,ind,segment_level,state,agency,case_number,date,UCR_code,attempt_or_complete,DAC_1,DAC_2,...,activity_type_3,weapon_type_1,weapon_type_2,weapon_type_3,bias_1,bias_2,bias_3,bias_4,bias_5,num_common_ORIs
0,1715977,2,20,MA0146000,2W1I0U73LLKR,20160208,120,C,N,NaN,...,NaN,11,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
1,4493722,2,41,TNMPD0000,BJ0Q3926XEMF,20160916,13B,C,N,NaN,...,NaN,40,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
2,3752840,2,39,SC0260600,8301-ABM72 N,20161125,290,C,N,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,NaN
3,951544,2,11,ID0010100,2W1I0URZ72JO,20161208,35A,C,N,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
4,839681,2,14,IA0570100,2W1I0UO ZD1A,20160104,23H,C,N,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,NaN

In [9]:
crimes.bias_1.value_counts()

88    4942
99      57
12       1
Name: bias_1, dtype: int64

In [16]:
crimes_full = pd.read_csv('crimes.csv')

/Users/mclev/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9,10,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
crimes_full.head()

,Unnamed: 0,V2001,V2002,V2003,V2004,V2005,V2006,V2007,V2008,V2009,...,V2016,V2017,V2018,V2019,V2020,V2020B,V2020C,V2020D,V2020E,V2021
0,0,2,1,AL0011200,2W1I0U7 6288,20160514,280,C,N,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
1,1,2,1,AL0011200,2W1I0U7 62JW,20160514,13B,C,N,NaN,...,NaN,40,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
2,2,2,1,AL0011200,2W1I0U7 64 8,20160513,220,C,N,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
3,3,2,1,AL0011200,2W1I0U7 64 W,20160513,35A,C,D,A,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0
4,4,2,1,AL0011200,2W1I0U7 642X,20160513,220,C,N,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,1.0

In [19]:
len(crimes_full)

6063523

In [21]:
# crimes_full.V2020.value_counts()

Bias is an interesting variable to explore, but the data isn't... fantastic for exploration. Class imbalance. 5.9 million / 6 million have 'none' as their bias.
so let's not check that out for now.

# Raw TSV --> named CSVs for cleaning

In [2]:
import pandas as pd

In [3]:
crimes = pd.read_csv('offense_data.tsv',sep='\t')
perps = pd.read_csv('offender_data.tsv',sep='\t')
vics = pd.read_csv('victim_data.tsv',sep='\t')
crimes.to_csv('crimes.csv')
perps.to_csv('perps.csv')
vics.to_csv('vics.csv')
print('done renaming originals')

done renaming originals

## cleaning cell for 6milion (need to explore to get value counts)

In [4]:
print('importing...')
crimes = pd.read_csv('crimes.csv')
perps = pd.read_csv('perps.csv')
vics = pd.read_csv('vics.csv')
if len(crimes)+len(perps)+len(vics) > 15000000:
    print('full data acquired')
else:
    print('you imported the samples, doofus')
    
# drop the imported index column
crimes = crimes.drop('Unnamed: 0', axis=1)
perps = perps.drop('Unnamed: 0', axis=1)
vics = vics.drop('Unnamed: 0', axis=1)
    
    
# clean  nulls
print('cleaning nulls...')
perps = perps.applymap(lambda x:None if x == " " else x)
crimes = crimes.applymap(lambda x:None if x == " " else x)
vics = vics.applymap(lambda x:None if x == " " else x)
print('cleaned nulls')

# write out column names
print('decoding columns...')
crimes_cols = [
    'segment_level', 'state', 'agency', 'case_number',
    'date', 'UCR_code', 'attempt_or_complete', 'DAC_1', # drugs, alcohol, or computer equipment used during crime
    'DAC_2', 'DAC_2', 'location_type', 'num_premises_entered',
    'method_entry', 'activity_type_1', 'activity_type_2',
    'activity_type_3', 'weapon_type_1', 'weapon_type_2',
    'weapon_type_3', 'bias_1', 'bias_2', 'bias_3', 'bias_4',
    'bias_5', 'num_common_ORIs'
]
vics_cols = [
    'segment_level', 'state', 'agency', 'case_number',
    'date', 'victim_seq_num', 'ucr_1', 'ucr_2', 'ucr_3',
    'ucr_4', 'ucr_5', 'ucr_6', 'ucr_7', 'ucr_8', 'ucr_9',
    'ucr_10', 'vic_type', 'officer_activity_type',
    'officer_assignment_type', 'officer_other_juris',
    'vic_age', 'vic_sex', 'vic_race', 'vic_ethn',
    'vic_resident_status', 'assault_homic_1', 'assault_homic_2',
    'add_homic_circumstances', 'injury_1', 'injury_2', 'injury_3',
    'injury_4', 'injury_5',
    'offndr_1_rltn', 'vic_offndr_rltn_1', 'offndr_2_rltn', 'vic_offndr_rltn_2',
    'offndr_3_rltn', 'vic_offndr_rltn_3', 'offndr_4_rltn', 'vic_offndr_rltn_4',
    'offndr_5_rltn', 'vic_offndr_rltn_5', 'offndr_6_rltn', 'vic_offndr_rltn_6',
    'offndr_7_rltn', 'vic_offndr_rltn_7', 'offndr_8_rltn', 'vic_offndr_rltn_8',
    'offndr_9_rltn', 'vic_offndr_rltn_9', 'offndr_10_rltn', 'vic_offndr_rltn_10',
    'num_ori_matches',
]
perps_cols = [
    'segment_level', 'state', 'agency', 'case_number', 'date',
    'perp_seq_num', 'perp_age', 'perp_sex', 'perp_race',
    'num_ori_matches', 'perp_ethn'
]
# rename cols
crimes.columns = crimes_cols
perps.columns = perps_cols
vics.columns = vics_cols
print('renamed columns')

# save
crimes.to_csv('crimes_s.csv') # save cleaned samples
perps.to_csv('perps_s.csv')
vics.to_csv('vics_s.csv')
print('cleaned & saved')

importing...
full data acquired
cleaning nulls...
cleaned nulls
decoding columns...
renamed columns
cleaned & saved

In [23]:
len(crimes.columns)

26

In [27]:
crimes.columns

Index(['segment_level', 'state', 'agency', 'case_number', 'date', 'UCR_code',
       'attempt_or_complete', 'DAC_1', 'DAC_2', 'DAC_2', 'location_type',
       'num_premises_entered', 'method_entry', 'activity_type_1',
       'activity_type_2', 'activity_type_3', 'weapon_type_1', 'weapon_type_2',
       'weapon_type_3', 'bias_1', 'bias_2', 'bias_3', 'bias_4', 'bias_5',
       'num_common_ORIs'],
      dtype='object')

In [42]:
crimes.weapon_type_1.value_counts()

40      676266
99      124230
12       92138
90       64870
20       53183
11       31726
30       28090
95       26606
40.0     24420
35       12105
12.0      8370
12A       6773
14        5455
13        5386
15        4220
90.0      3231
85        2771
11.0      2394
20.0      2070
99.0      1902
95.0      1869
11A       1379
30.0      1227
70        1011
60         689
65         643
35.0       605
13A        365
14.0       231
50         217
15.0       207
13.0       197
15A        130
85.0        79
14A         60
70.0        38
60.0        22
65.0        20
50.0        14
Name: weapon_type_1, dtype: int64

In [45]:
crimes.DAC_1.isna().sum()

0

In [46]:


for c in crimes.columns:
    print('\n\n')
    print("---- %s ---" % c)
    print(crimes[c].isna().sum())

---- segment_level ---
0



---- state ---
0



---- agency ---
0



---- case_number ---
0



---- date ---
0



---- UCR_code ---
0



---- attempt_or_complete ---
0



---- DAC_1 ---
0



---- DAC_2 ---
DAC_2    6022848
DAC_2    6063306
dtype: int64



---- DAC_2 ---
DAC_2    6022848
DAC_2    6063306
dtype: int64



---- location_type ---
0



---- num_premises_entered ---
5596388



---- method_entry ---
5596388



---- activity_type_1 ---
4301269



---- activity_type_2 ---
5975946



---- activity_type_3 ---
6045984



---- weapon_type_1 ---
4878314



---- weapon_type_2 ---
6041354



---- weapon_type_3 ---
6062181



---- bias_1 ---
0



---- bias_2 ---
6063490



---- bias_3 ---
6063519



---- bias_4 ---
6063521



---- bias_5 ---
6063523



---- num_common_ORIs ---
699349

In [18]:
crimes_cols_keep = [ 'state', 'agency', 'case_number', 'UCR_code', 'attempt_or_complete', 'DAC_1', 'location_type', 'weapon_type_1', 'bias_1' ]

In [19]:
crimes_sub = crimes[crimes_cols_keep]

In [49]:
crimes_sub.head(10)

,state,case_number,UCR_code,attempt_or_complete,DAC_1,location_type,weapon_type_1,bias_1
0,1,2W1I0U7 6288,280,C,N,8,NaN,88
1,1,2W1I0U7 62JW,13B,C,N,20,40,88
2,1,2W1I0U7 64 8,220,C,N,20,NaN,88
3,1,2W1I0U7 64 W,35A,C,D,13,NaN,88
4,1,2W1I0U7 642X,220,C,N,20,NaN,88
5,1,2W1I0U7 6484,23C,C,N,8,NaN,88
6,1,2W1I0U7 662D,220,C,N,20,NaN,88
7,1,2W1I0U7 66BX,23D,C,N,12,NaN,88
8,1,2W1I0U7 66JR,13B,C,N,21,40,88
9,1,2W1I0U7 67TN,35A,C,D,13,NaN,88

In [20]:
crimes_sub.to_csv('crimes_sub.csv')

In [51]:
perps.columns

Index(['segment_level', 'state', 'agency', 'case_number', 'date',
       'perp_seq_num', 'perp_age', 'perp_sex', 'perp_race', 'num_ori_matches',
       'perp_ethn'],
      dtype='object')

In [52]:
for c in perps.columns:
    print('\n\n')
    print("---- %s ---" % c)
    print(perps[c].isna().sum())

---- segment_level ---
0



---- state ---
0



---- agency ---
0



---- case_number ---
0



---- date ---
0



---- perp_seq_num ---
0



---- perp_age ---
1735800



---- perp_sex ---
1735800



---- perp_race ---
1735800



---- num_ori_matches ---
741656



---- perp_ethn ---
4519549

In [15]:
perps_cols_keep = [ 'state', 'agency', 'case_number', 'perp_seq_num', 'perp_age', 'perp_sex', 'perp_race', 'perp_ethn', 'num_ori_matches' ]

In [16]:
perps_sub = perps[perps_cols_keep]

In [17]:
perps_sub.to_csv('perps_sub.csv')
print('done')

done

In [58]:
for c in vics.columns:
    print('\n\n')
    print("---- %s ---" % c)
    print(vics[c].isna().sum())

---- segment_level ---
0



---- state ---
0



---- agency ---
0



---- case_number ---
0



---- date ---
0



---- victim_seq_num ---
0



---- ucr_1 ---
0



---- ucr_2 ---
5502664



---- ucr_3 ---
6000473



---- ucr_4 ---
6032988



---- ucr_5 ---
6034562



---- ucr_6 ---
6034714



---- ucr_7 ---
6034724



---- ucr_8 ---
6034725



---- ucr_9 ---
6034725



---- ucr_10 ---
6034725



---- vic_type ---
0



---- officer_activity_type ---
6014582



---- officer_assignment_type ---
6014582



---- officer_other_juris ---
6032865



---- vic_age ---
1783966



---- vic_sex ---
1783966



---- vic_race ---
1783966



---- vic_ethn ---
2154938



---- vic_resident_status ---
2090809



---- assault_homic_1 ---
5789436



---- assault_homic_2 ---
6031661



---- add_homic_circumstances ---
6034502



---- injury_1 ---
4795953



---- injury_2 ---
6022791



---- injury_3 ---
6032567



---- injury_4 ---
6034387



---- injury_5 ---
6034673



---- offndr_1_rltn ---
4538035



---- vic_offndr_rltn_1 ---
4613572



---- offndr_2_rltn ---
5776989



---- vic_offndr_rltn_2 ---
5776989



---- offndr_3_rltn ---
5979643



---- vic_offndr_rltn_3 ---
5979643



---- offndr_4_rltn ---
6014058



---- vic_offndr_rltn_4 ---
6014058



---- offndr_5_rltn ---
6026502



---- vic_offndr_rltn_5 ---
6026502



---- offndr_6_rltn ---
6031039



---- vic_offndr_rltn_6 ---
6031039



---- offndr_7_rltn ---
6033014



---- vic_offndr_rltn_7 ---
6033014



---- offndr_8_rltn ---
6033845



---- vic_offndr_rltn_8 ---
6033845



---- offndr_9_rltn ---
6034216



---- vic_offndr_rltn_9 ---
6034216



---- offndr_10_rltn ---
6034420



---- vic_offndr_rltn_10 ---
6034420



---- num_ori_matches ---
670551

In [24]:
vics_cols_keep = ['state', 'agency', 'case_number', 'victim_seq_num', 'ucr_1', 
                  'vic_type', 'vic_age', 'vic_sex', 
                  'vic_race', 'vic_ethn', 'num_ori_matches' ]

In [25]:
vics_sub = vics[vics_cols_keep]

In [26]:
vics_sub.to_csv('vics_sub.csv')
print('done')

done

## Dropped high entropy columns with too many nulls
We shouldn't have to drop many rows now. let's merge

In [14]:
crimes_sub = pd.read_csv('crimes_sub.csv')
perps_sub = pd.read_csv('perps_sub.csv')
vics_sub = pd.read_csv('vics_sub.csv')
print('imported')

/Users/mark/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mark/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

imported

Caution needed when merging large datasets. Running the two merges in the same cell killed my kernel

In [ ]:

# print('merging crimes & perps')
# crimes_perps = crimes_sub.merge(perps_sub, how='inner', on='case_number')
# print('merging vics')
# df = crimes_perps.merge(vics_sub, how='inner', on='case_number')
# print(f'total merge length: {len(df)}') 

# #

merging crimes & perps
merging vics

In [9]:
print('merging crimes & perps')
crimes_perps = crimes_sub.merge(perps_sub, how='inner', on='case_number')
print('done')

merging crimes & perps
done

In [10]:
len(crimes_perps) # half-merged, down to 4 mil where they identified a criminal and a victim.
# tradeoff: more rows with just criminal, but perhaps less predictive power? 4mil is still a lot

40122738

In [11]:
crimes_perps.head(10)

,Unnamed: 0_x,state_x,case_number,UCR_code,attempt_or_complete,DAC_1,location_type,weapon_type_1,bias_1,Unnamed: 0_y,state_y,perp_seq_num,perp_age,perp_sex,perp_race,perp_ethn,num_ori_matches
0,0,1,2W1I0U7 6288,280,C,N,8,NaN,88,0,1,1,22.0,F,B,NaN,2.0
1,0,1,2W1I0U7 6288,280,C,N,8,NaN,88,1,1,2,30.0,F,B,NaN,NaN
2,0,1,2W1I0U7 6288,280,C,N,8,NaN,88,3957429,40,1,41.0,F,W,N,1.0
3,3945837,40,2W1I0U7 6288,270,C,N,14,NaN,88,0,1,1,22.0,F,B,NaN,2.0
4,3945837,40,2W1I0U7 6288,270,C,N,14,NaN,88,1,1,2,30.0,F,B,NaN,NaN
5,3945837,40,2W1I0U7 6288,270,C,N,14,NaN,88,3957429,40,1,41.0,F,W,N,1.0
6,1,1,2W1I0U7 62JW,13B,C,N,20,40,88,2,1,1,36.0,F,W,NaN,1.0
7,1,1,2W1I0U7 62JW,13B,C,N,20,40,88,145913,3,1,34.0,M,B,N,1.0
8,1,1,2W1I0U7 62JW,13B,C,N,20,40,88,374256,5,1,32.0,M,W,N,1.0
9,143604,3,2W1I0U7 62JW,520,C,A,13,12A,88,2,1,1,36.0,F,W,NaN,1.0

In [ ]:
df = crimes_perps.merge(vics_sub, how='inner', on='case_number')
print(f'total merge length: {len(df)}')

## Fixing merges: 
I wondered why my df was jumping to 40 million when each df had about 6 million each.
Upon inspection, it looks like case_number is only unique to an agency: they'll use the same case numbers, which makes sense, i suppose, if they just start from 0.
The codebook states that you'll need ORI (agency) as well as case_number to identify a unique record.

In [27]:
crimes_perps = crimes_sub.merge(perps_sub, how='inner', on=['agency','case_number'])
print('merge_1 completed')

merge_1 completed

In [28]:
df = crimes_perps.merge(vics_sub, how='inner', on=['agency','case_number'])
print('merges done')

merges done

In [30]:
len(df)
df.to_csv('merged.csv')